# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!*.tfvars.example
crash.log

# Ansible
ansible/inventory.ini
*.retry

# SSH keys
*.pem
*.key
id_rsa*
id_ed25519*

# OS
.DS_Store
